<h1>Gyroscope</h1>

<div>
  x: <span>{{x}}</span>
</div>

<div>
  y: <span>{{y}}</span>
</div>

<button type="button" name="start" {{action 'start'}}>
  Start
</button>

<div class="my-playground">
  <div id='mybox'></div>
</div>

<div id="target"></div>
